---
import { LanguageSelector } from "astro-i18next/components";
import { t, changeLanguage } from "i18next";
import Layout from "../../layout/Layout.astro";

changeLanguage("en");
---

<Layout title="asd" description="asd">
  <p set:html={t("title")} />
  <p class="highlight">Body highlight</p>
  <p class="bullet">Body bullet</p>
  <h1>Header 1</h1>
  <h2>Header 2</h2>
  <h3>Header 3</h3>
  <h4>Header 4</h4>
  <h5>Header 5</h5>
  <h6>Header 6</h6>
  <p class="big">Body big</p>
  <p>Body Medium</p>
  <p class="small">Body Small</p>
  <div class="flex flex-row gap-2">
    <img src="/assets/globe.svg" class="w-[1.111vw]" alt="Selettore della lingua" />
    <LanguageSelector showFlag={false} class="cursor-pointer languageSelector" languageMapping={{ en: "EN", it: "IT" }} />
  </div>
</Layout>
