@layer theme, base, components, utilities;
@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  /* Colori */
  --color-azzurro: #3dbcc8;

  /* Misure */
  --spacing-xxl: clamp(150px, 13.889vw, 19.531vh);
  --spacing-xl: clamp(100px, 10.417vw, 14.648vh);
  --spacing-l: clamp(44px, 5.556vw, 7.813vh);
  --spacing-m: clamp(32px, 3.056vw, 4.297vh);
  --spacing-s: clamp(24px, 2.222vw, 3.125vh);
  --spacing-xs: clamp(16px, 1.667vw, 2.344vh);
  --spacing-xxs: clamp(12px, 1.111vw, 1.563vh);

  --spacing-body: clamp(16px, 2.5vw, 3.516vh);
}

body,
html {
  overflow-x: hidden;
}
