---
import BaseHead from "../includes/BaseHead.astro";
import Header from "../includes/Header.astro";
import Footer from "../includes/Footer.astro";
import Menu from "../includes/Menu.astro";
import { ClientRouter } from "astro:transitions";

const { title, description, keyword } = Astro.props;
---

<!doctype html>
<html lang="it" id="html">
  <head>
    <BaseHead title={title} description={description} keyword={keyword} />
    <ClientRouter />
  </head>
  <body id="body" class="relative">
    <Header />
    <Menu />
    <slot />
    <Footer />
    <script is:inline>
      let isNavigationTriggered = false;

      document.addEventListener("astro:page-load", () => {
        if (isNavigationTriggered) {
          window.location.reload(true);
        } else {
          isNavigationTriggered = true;
        }
      });
    </script>
  </body>
</html>
